{
    "printWidth": 10000,
    "singleQuote": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": false,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "jsxBracketSameLine": false
}
